root = true

[*]
charset = utf-8
indent_style = space
indent_size = 4
continuation_indent_size = 8
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = lf

# For Gradle files
[*.gradle.kts]
indent_style = space
indent_size = 4
max_line_length = 120  # You can set this to the desired max length

[*.md]
trim_trailing_whitespace = false
max_line_length = off

[*.{xml}]
indent_style = space
indent_size = 4
continuation_indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.{kt,kts}]
max_line_length = 100
continuation_indent_size = 8
ktlint_standard_filename = true
ktlint_standard_import-ordering = enabled
ktlint_experimental_argument-list-wrapping = enabled
continuation_indent_size = 8

ij_kotlin_allow_trailing_comma=true
ij_kotlin_allow_trailing_comma_on_call_site=true
ktlint_function_naming_ignore_when_annotated_with=Composable, Test
ktlint_standard_backing-property-naming = disabled
ktlint_standard_binary-expression-wrapping = disabled
ktlint_standard_chain-method-continuation = disabled
ktlint_standard_class-signature = disabled
ktlint_standard_condition-wrapping = disabled
ktlint_standard_function-expression-body = disabled
ktlint_standard_function-literal = disabled
ktlint_standard_function-type-modifier-spacing = disabled
ktlint_standard_multiline-loop = disabled
ktlint_standard_function-signature = disabled

